@import url(https://db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text);
html,
body {
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
  font-family: SB Sans Text;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #6fb7fe;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
